body {
    font-family: "Roboto", sans-serif;
    background-color: #3a4145;
    color: white;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.twitter-timeline{
    /*max-height: 40vh;*/
}